{% extends "semantic-ui/invenio_communities/details/settings/base.html" %}
 
{%- block settings_menu %}
    {%- set collections_visible = config.get('COMMUNITIES_COLLECTIONS_ENABLED', False) and permissions.can_manage_collections %}
    {%- set menu_items = {
    'profile': (_('Profile'), url_for('invenio_communities.communities_settings', pid_value=community.slug)),
    'pages': (_('Pages'), url_for('invenio_communities.communities_settings_pages', pid_value=community.slug)),
    } %}
    {%- if collections_visible %}
        {%- set _ = menu_items.update({'collections': (_('Collections'), url_for('invenio_communities.communities_settings_collections', pid_value=community.slug))}) %}
    {%- endif %}
    <div class="sixteen wide mobile sixteen wide tablet three wide computer column">
    <div role="tablist" class="ui vertical horizontal mobile tablet menu theme-primary-menu">
        {% for menu_key, (menu_item, menu_link) in menu_items.items() %}
            <a
            role="tab"
            id="{{ menu_key }}"
            aria-selected="{{ active_settings_menu_item and menu_key == active_settings_menu_item }}"
            href="{{ menu_link }}"
            class="{{ 'brand item active' if active_settings_menu_item and menu_key == active_settings_menu_item }} {{ 'disabled' if not menu_link }} item"
            >{{ menu_item }}</a
            >
        {% endfor %}
    </div>
    </div>
{%- endblock settings_menu %}